name: Django CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: 'Create env file'
      run: |
        touch oc_lettings_site/.env
        echo SECRET_KEY=${SECRET_KEY} >> oc_lettings_site/.env
        echo ENV_SENTRY=${ENV_SENTRY}  >> oc_lettings_site/.env
        echo SENTRY_KEY=${SENTRY_KEY}  >> oc_lettings_site/.env
        cat oc_lettings_site/.env
      env:
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        ENV_SENTRY: ${{ secrets.ENV_SENTRY }}
        SENTRY_KEY: ${{ secrets.SENTRY_KEY }}
    - name: Run Tests
      run: |
        pytest
    - name: Analysing the code with flake8
      run: |
        flake8
    - name: Analysing the code with pylint
      run: |
        pylint */*.py */tests/*.py
